Repository jerryjin2018/gitlabcicd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: EKS cluster creation, RDS for mysql creation, RDS for app running, EKS for app running

.gitlab-ci.yml:

# Parent gitlab-ci file, which trigger two CICD steps for AWS EKS cluster and RDS for mysql creation

stages:
- trigger-modules

EKS cluster creation:
  stage: trigger-modules
  trigger:
    include: infra/eks-cluster/eks-gitlab-ci.yml
  only:
    changes:
    - infra/eks-cluster/*

RDS for mysql creation:
  stage: trigger-modules
  trigger:
    include:  infra/rdsmysql/rdsreal/rds-gitlab-ci.yml
  only:
    changes:
    - infra/rdsmysql/*
    - infra/rdsmysql/**/*

RDS for app running:
  stage: trigger-modules
  trigger:
    include:  app/rds/app-rds-gitlab-ci.yml
  only:
    changes:
    - app/rds/*

EKS for app running:
  stage: trigger-modules
  trigger:
    include:  app/eks/app-eks-gitlab-ci.yml
  only:
    changes:
    - app/eks/*

update readme
  README.md
Due: none

update readme
  create_bucket.sh
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update rds-gitlab-ci.yml
  infra/rdsmysql/rdsreal/rds-gitlab-ci.yml
Due: RDS for mysql creation

Update eks-gitlab-ci.yml
  infra/eks-cluster/eks-gitlab-ci.yml
Due: EKS cluster creation

Update app-rds-gitlab-ci.yml
  app/rds/app-rds-gitlab-ci.yml
Due: RDS for app running

Update app-eks-gitlab-ci.yml
  app/eks/app-eks-gitlab-ci.yml
Due: EKS for app running

Update README.md
  README.md
Due: none
